@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<body>
  

  
  <div class="container-fluid flex-column d-flex my-5 w-75 bg-light py-5 align-items-center  justify-content-center"  >
    <h1>Auctioneer, your vintage collection's provider</h1>
    <h4>Welcome to Auctioneer, your number one source for all things 
        vintage. 
        We're dedicated to giving you the very best products, with a focus on 
        quality and customer support.</h4>
    <h4 >
        Every day, our team of experts picks three vintage collection items.
        Users can compete in the auction for that specific item, and at the end of the day, 
        the best payer will be able to get the item delivered to them.
    </h4>
    <h4 >
      For any problems regarding the site, or any question, the email feedback@auctioneer.com can be contacted at any time.
    </h4>


  </div>

</body>
